@charset "UTF-8";

body
{
	margin: 0;
	position: relative;
	width:100%;
	height:100%;
	background-color: #FAFAFA;
}

.backimg{
	background-image: url('../image/Havana.jpeg');
	background-size: cover;
	width: 100%;
	height: 230px;
}

.write
{
	margin-top: 10px;
}

.qna
{
	margin-top: 80px;
	margin-bottom: 20px;
}

.pagination
{
	
	margin-left: 470px;
}

.pg
{
	color: black;
	margin: 0 auto;
	text-align: center;
	display: block;
}


a{
	text-decoration: none;
	color: white;
	border: none;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
}

font{
	color: black;
	border: none;
}

 a:link { color: black; text-decoration: none;}
 a:visited {text-decoration: none;}
 a:hover {text-decoration: none;}
 font:hover { color: black; text-decoration: none;}

.seq
{
	padding-left: 27px !important;
}

.tt
{
	padding-left: 24px !important;
}


.hit
{
	padding-left: 31px !important;
}


.tbhead{
	background-color: #00253E;
	color: white;
}

.btn{
	border-radius: 2px;
	width: 90px;
	height: 43px;
	margin-top: 10px;
	margin-bottom: 100px;
	margin-left: 10px;
	margin-right: 10px;
}

#writebtn{
	background-color: #00253E;
	color: white;
}

#mainbtn{
	background-color: white;
	color: #00253E;
	border: 1px solid #00253E;
}


#writebtn:hover{
	background-color: white;
	color: #00253E;
	border: 1px solid #00253E;
}


#mainbtn:hover{
	background-color: #00253E;
	color: white;
}
