@charset "UTF-8";

/*header-----------------------------------------------------------------------------------------------------------------------*/
header{
	background-color: #00253E;
	color: white;
	width: 100%;
	margin: 0;
	height: 120px;
}

header div {
	text-align: right;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 8px;
}

header #query {
	margin-left: 5px;
	background-color: #DDDDDD;
}

header h1 {
	margin: 0;
	text-align: center;
	font-size: 35px;
	letter-spacing: 5px;
	line-height: 18px;  /* LET IT BID 상하 위치 조정 */
}

header li {
	float: right;
	padding: 5px;
	list-style: none;
	margin: 0;
}

#title,.log,.mypage{
	color: white;
}

.log:hover,.mypage:hover{
	color: white;
}

a{
	text-decoration: none;
}

/*-----------------------------------------------------------------------------------------------------------------------*/

body
{
	margin: 0;
	position: relative;
	width:100%;
	height:100%;
	background-color: #FAFAFA;
}

.wrapper
{
	box-sizing:border-box;
	position: absolute;
	left:36%;
	
	margin: 0 auto;
	text-align: center;
	margin-top: 7%;
}


.let
{
	font-size: 25px;
    color: white;
    background-color: black;
    padding-left: 20px;
    line-height: 1.8;
	
}

.sub
{
	padding-right: 10px;
}

.name
{
	padding-right: 10px;
}

.section
{
	padding-right: 5px;
}

.btn
{
	padding-top: 15px;
	padding-left: 50px;
}

.btn1
{
	width: 20%;
	height:20%;
	margin-right: 15px;
	background-color: #00253E;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	border: none;
	color: white;
	border-radius: 2px;
}


.btn2
{
	width: 20%;
	background-color: white;
	cursor: pointer;
	display: inline-block;
	border: 1px solid #00253E;
	color: #00253E;
	border-radius: 2px;
}

.btn1:hover{
	background-color: white;
	color: #00253E;
	border: 1px solid #00253E;
}

.btn2:hover{
	background-color: #00253E;
	color: white;
	border: none;
}





















