@charset "UTF-8";

body {
	margin: 0;
}

input {
	all:unset;
	padding: 6px;
}

section {
	background-color: #FAFAFA;
}

.wrap {
	width:100%;
}

form {
	width: 40%;
	margin: auto;
}


form .label {
	font-weight: bold;
	font-size: 16px;
	line-height: 1.8em;
}

form .textbox {
	width: 100%;
	cursor: pointer;
	background-color: white;
	font-size: 16px;
}

form .roadFullAddr {
	width: 84%;
	cursor: pointer;
	background-color: white;
	font-size: 16px;
}

form .addrbtn {
	width: 10%;
	color: white;
	font-size: 14px;
  	cursor: pointer;
	background-color: rgb(0, 37, 62);
	transition: background-color 300ms ease 0ms;
	
}

form .addrbtn:hover {
  	background-color: rgb(42, 69, 136);
}

#idch,#pwch,#usernamech,#addrch,#phonech,#questionch {
	font-size: 14px;
}

.submit {
	width:30%;
	cursor: pointer;
	font-size: 18px;
	color: white;
	background-color: rgb(0, 37, 62);
	transition: background-color 300ms ease 0ms;
}

.submit:hover {
	background-color: rgb(42, 69, 136);
}

