@charset "UTF-8";
*{
	font-family: 'Cinzel';
}

a{
	text-decoration: none;
	color: white;
}
html {
height: 100%;
}

/*HEADER*****************************************************************************************************/
header{
	background-color: #272727;
	color: white;
	width: 100%;
	margin: 0;
	height: 150px;
}

header div {
	text-align: right;
	padding-right: 10px;
	padding-top: 10px;
}

header #query {
	margin-left: 5px;
	background-color: #DDDDDD;
}

header h1 {
	margin: 0;
	text-align: center;
	padding-top: 20px;
	font-size: 35px;
	letter-spacing: 5px;
}

header li {
	float: right;
	padding: 5px;
	list-style: none;
	margin: 0;
}


/*BODY*****************************************************************************************************/

body{
	margin: 0;
	height: 100%;
}

#main {
	background-image: url("/BidProject/resources/image/background.jpg");
	background-size: cover;
	height: 350px;
}




#main h1 {
	color: #DDFFFF;
	text-shadow: 1px 4px teal; 
	font-size: 50px;
	margin: auto;
	text-align: center;
	padding-top: 140px;
	
}

nav#filter{
	margin-top: 5px;
	background-color: #272727;
	height: 80px;
	padding-top: 20px;
}
#filter h2{
	margin: 0;
}

#filter a {
	padding: 15px;
}


.category{
	min-height:100%;
	position : relative;
	padding-bottom:15px;
	margin : 20px;
	padding-left: 80px;
	padding-top: 18px;
	margin-bottom: 10px;

}


/* ////////////////////////////sales내용  start////////////////////////////////////////////////////////// */


.product1 {
	position:relative;
	height: 345px;
	width: 250px;
	/* background-color: #7d9fb6; */
	border: 2px dashed teal;
	float: left;
	margin-left:8px;
	margin-top : 10px;
	margin-bottom: 10px;
	
		 
}
.photo{
	
 	 border: 1px solid black;
	 
 /*   height: 180px;
    width: 228px;*/
     margin: 10px 10px 10px 10px;
	
}


.wrap0{
	
    padding-left: 85px;
	
}
.wrap1{

    width: 230px;
    height: 136px;
   
}

.wrap01{
    border: 1px solid magenta;
    height: 135px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -4px;
}

.prodname{
	background-color: #7d9fb6;
    width: 228px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    
    
    
/* 	width:228 
	너비 고정시키고
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap; */
}

.wrap2{
	border: solid 1px;
	width: 228px;
	
	}

.ref{
	
	font-size: 11px;
	border: 1px solid;
    height: 38px;
}
.price{
	text-align: right;
	font-size: 20px;
}
.term{
	text-align: right;
	margin-bottom: 0px;
}

/* /////////////////////////////////////sales내용 end///////////////////////////////////////////////// */
section div p {
	border: 1px solid black;
	
}

div.qna{
	
	position: fixed ;
	right: 30px;
	bottom: 30px;
	width: 80px;
	height: 60px;
	margin: 0 ;
	padding-bottom: 10px;
	text-align: center;
	
	
}

.qna {
	border-radius: 25px;
	background-image: linear-gradient(#53ffea, #2c9b9a);
}


/*FOOTER*****************************************************************************************************/

.footer{
	
	position : inherit;
    left: 0;
    right:0;
    bottom: 0;
    width: 100%;
	padding: 15px;
	text-align: center;
	color: white;
	background: #DDDDDD;
	float: left;


}
