@charset "UTF-8";

*{
	font-family: 'Cinzel';
}
a{
	text-decoration: none;
	color: white;
}
html {
	height: 100%;
}

/*HEADER*****************************************************************************************************/
header{
	background-color: #272727;
	color: white;
	width: 100%;
	margin: 0;
	height: 120px;
}

header div {
	text-align: right;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 8px;
}

header #query {
	margin-left: 5px;
	background-color: #DDDDDD;
}

header h1 {
	margin: 0;
	text-align: center;
	font-size: 35px;
	letter-spacing: 5px;
}

header li {
	float: right;
	padding: 5px;
	list-style: none;
	margin: 0;
}

/*BODY*****************************************************************************************************/

#main {
	background-image: url("/BidProject/resources/image/minimal.jpg");
	background-size: cover;
	height: 200px;
}


#main h1{
	font-size: 50px;
	width: 100%;
	margin: auto;
	text-align: center;
	padding-top: 80px;
	color: white;
}



.container{
	/* margin-top: 20px;
	border-color: magenta;
	border: 1px dotted; */
	
	width: 70%;
	height: 70%;
	margin: 40px auto;
	
}

.outer{
	
	display:table;
	width:100%;
	height: 100%;
}
.inner{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.centered{
	position: relative;
	display: inline-block;
	
	width:60%;
	padding: 1em;
	color: black;
}


.prodcover{
}

.prodtitle{
	text-align: left;
}
.descrip{
	margin-top: 10px;
}

.prodname{
	width: 100%;
		border-top: 0 none;
	border-left: 0 none;
	border-right: 0 none;
	border-color: black;
	border-bottom: 1px solid;
}

.descover{
	
}

.selec{
	margin-top: 30px;
	border: 1px dotted red;
	height: 50%;
}

select{
	text-align: left;
	border-top: 0 none;
	border-left: 0 none;
	border-right: 0 none;
	border-color: black;
	border-bottom: 1px solid;
}
.cat1cover{
	text-align: left;
	width: 30%;
	border: 1px dotted magenta;
	float: left;
}

.condicover{
	text-align: left;
	border: 1px dotted aqua;
	width: 30%;
	float: left;
}

#condition{
	width:90%;
	
}


.pricecover{
	float:left;
	width:30%;
	border-top: 0 none;
	border-left: 0 none;
	border-right: 0 none;
	border-color: black;
	border-bottom: 1px solid;
}


.middle{
	text-align: left;
	margin-top: 63px;
	float: left;
}


.termcover{
}
.termtitle{
	
}



.filecover{
	border: 1px dotted black;
	height: 30px;
	margin-top: 50px;
	position:relative;
	width:20px;
}



.bottom{
	border : 3px dotted red;
	margin-top : 150px;
	height: 50px;
}




/* .condition{
	margin-left: 20px;
	float: left;
	}

.pricecover{
} */

