@charset "UTF-8";


/*header-----------------------------------------------------------------------------------------------------------------------*/
header{
	background-color: #272727;
	color: white;
	width: 100%;
	margin: 0;
	height: 120px;
}

header div {
	text-align: right;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 8px;
}

header #query {
	margin-left: 5px;
	background-color: #DDDDDD;
}

header h1 {
	margin: 0;
	text-align: center;
	font-size: 35px;
	letter-spacing: 5px;
	line-height: 18px;  /* LET IT BID 상하 위치 조정 */
}

header li {
	float: right;
	padding: 5px;
	list-style: none;
	margin: 0;
}

#title,.log,.mypage{
	color: white;
}

.log:hover,.mypage:hover{
	color: white;
}

/*-----------------------------------------------------------------------------------------------------------------------*/


a{
	text-decoration: none;
}

.wrap
{
	width:50%;
	height:100%;
	margin: 0 auto;
	text-align: center;
	margin-top: 7%;
	
}


#username,#phone
{
	background-color: white;
	width:30%;
	height: 7%;
	cursor: pointer;
	font-size: 18px;
}

.submit
{
	width:30.5%;
	height: 7%;
	background-color: #00253E;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	border: none;
	color: white;
	font-size: 18px;
	line-height: 2em;
	letter-spacing: 1px;
	word-spacing: 5px;
}


.leg
{
	text-align: left;
	line-height: 2em;
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 1px;
    word-spacing: 2px;
	
}


.txtphone
{
	display: block;
	padding-right: 170px;
	line-height: 1em;
	font-weight: bold;
}

.txtname
{
	display: block;
	padding-right: 160px;
	line-height: 1em;
	font-weight: bold;
}

body
{
	background-color: #FAFAFA;
	margin: 0;
}

.let
{
	font-size: 25px;
    color: white;
    background-color: black;
    padding-left: 20px;
    line-height: 1.8;
	
}


