@charset "UTF-8";


*{
	background-color: #FAFAFA;
	
}

body{
	margin: 0;
}


.wrap
{
	width:50%;
	height:100%;
	margin: 0 auto;
	text-align: center;
	margin-top: 6%;
	
}




.box1
{
	background-color: black;
	max-width;
	height: 50px;
	margin: 0;	
	
}

.let
{
	font-size: 25px;
    color: white;
    background-color: black;
    padding-left: 20px;
    line-height: 1.8;
	
}

#id
{
	background-color: white;
	margin-right: 8px;
}

.inputid
{
	line-height: 2em;	
	display: block;
	padding-right: 10px;
	word-spacing: 1px;
	letter-spacing: 0.3px;
}

.btn1
{
	background-color: #272727;
	cursor: pointer;
	color: white;
	border: none;
	text-decoration: none;
	width: 50px;
	height: 23px; 
}























