@charset "UTF-8";

*{
	background-color: #FAFAFA;
	
}

body
{
	margin: 0;
}

.wrap
{
	width:50%;
	height:100%;
	margin: 0 auto;
	text-align: center;
	margin-top: 5%;
	
}




.box1
{
	background-color: black;
	max-width;
	height: 50px;
	margin: 0;	
	
}


.let
{
	font-size: 25px;
    color: white;
    background-color: black;
    padding-left: 20px;
    line-height: 1.8;
	
}

#pwquestion,#pwanswer
{
	background-color: white;
	width: 250px;
	line-height: 20px;
}

.pwq,.pwa
{
	line-height: 3.5em;
}

.btn1
{
	background-color: #272727;
	cursor: pointer;
	text-decoration: none;
	border: none;
	color: white;
	font-size: 14px;
	line-height: 2em;
	letter-spacing: 1px;
	word-spacing: 5px;
}








